{% extends 'base.html' %}
{% load static %}
{% block content %}
<style type="text/css">
 .pic {
  border: 7px solid #000000;  
  float: left;
  height: 170px;
  width: 170px;
  margin: 20px;
  overflow: hidden;
   
  -webkit-box-shadow: 5px 5px 5px #111;
          box-shadow: 5px 5px 5px #111;  
}
.morph {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
 
.morph:hover {
  border-radius: 50%;
  -webkit-transform: rotate(360deg);
     -moz-transform: rotate(360deg);
       -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}
}
}
 </style>
<div class="container" style="padding-top : 8% ; padding-bottom:8% ; margin-top:5%">
    <div class="row">
         <div class="col-lg-12">
                <h2 class="page-header">Our Team</h2>
         </div>
    </div>
    <div class="row">
            <div class="morph pic">
                <img class=" img-responsive " src="{% static 'img/developer/1.JPG' %}"><p class="active">Priyanja singh</p>
            </div><div class="col-md-1"></div>
            <div class="morph pic">
                <img class="img-responsive" src="{% static 'img/developer/2.jpg' %}">
                <p class="text-success">Khushbu Agarwal</p>
            </div><div class="col-md-1"></div>
            <div class="morph pic">
                <img class="img-responsive" src="{% static 'img/developer/3.jpg' %}">
              <p class="text-success">Priyamvada Chundawat</p>
            </div><div class="col-md-1"></div>
            <div class="morph pic">
                <img class="img-responsive" src="{% static 'img/developer/4.JPG' %}">
                <p class="text-success">Jeet Banerjee</p>
            </div><div class="col-md-1"></div>
            <div class="morph pic">
                <img class="img-responsive" src="{% static 'img/developer/5.JPG' %}">
               <p class="text-success"> sudheer Macherala</p>
                    
            </div><div class="col-md-1"></div>
            <div class="morph pic">
                <img class="img-responsive" src="{% static 'img/developer/6.JPG' %}">
               <p class="text-success"> sukanaya marati</p>
                    
            </div><div class="col-md-1"></div>
            <div class="morph pic">
                <img class="img-responsive" src="{% static 'img/developer/7.jpg' %}">
                <p class="text-success">janaki velluri</p>
                    
            </div>
        </div>
</div>
{% endblock content %}
