{% extends 'base.html' %}
{% load static %}
{% block content %}
<style type="text/css">
 .pic {
  border: 7px solid #000000;  
  float: left;
  height: 170px;
  width: 170px;
  margin: 20px;
  overflow: hidden;
   
  -webkit-box-shadow: 5px 5px 5px #111;
          box-shadow: 5px 5px 5px #111;  
}
.morph {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
 
.morph:hover {
  border-radius: 50%;
  -webkit-transform: rotate(360deg);
     -moz-transform: rotate(360deg);
       -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}
}
}
 </style>
<div class="container" style="padding-top : 5% ; padding-bottom:8% ; margin-top:5%">
    <div class="row">
         <div class="col-lg-12">
                <h2 class="page-header">Our Team</h2>
         </div>
    </div>
    <div class="row">
            <div class="morph pic">
                <img class=" img-responsive " src="{% static 'img/developer/1.jpg' %}">
            </div><div class="col-md-1"></div>
            <div class="morph pic">
                <img class="img-responsive" src="{% static 'img/developer/2.jpg' %}">
                
            </div><div class="col-md-1"></div>
            <div class="morph pic">
                <img class="img-responsive" src="{% static 'img/developer/3.jpg' %}">
             
            </div><div class="col-md-1"></div>
            <div class="morph pic">
                <img class="img-responsive" src="{% static 'img/developer/4.JPG' %}">
                
            </div>
            </div><div class="row"><div class="col-md-2"><p class="text-success" align="centre">&nbsp;&nbsp;&nbsp;&nbsp;Priyanja Singh<br></p>priyanjasingh15@gmail.com</div><div class="col-md-1"></div>
              <div class="col-md-3"><p class="text-success">&nbsp;&nbsp;&nbsp;Khushbu Agarwal<br></p>&nbsp;&nbsp;&nbsp;&nbsp;khushbu.ag23@gmail.com</div>
             <div class="col-md-3"><p class="text-success">&nbsp;&nbsp;&nbsp;&nbsp;Priyamvada Chundawat<br></p>&nbsp;&nbsp;&nbsp;&nbsp;pri.chundawat@gmail.com</div><div class="col-md-1"></div>
             <div class="col-md-2"><p class="text-success">Jeet Banerjee<br></p>jeet.23nz@gmail.com</div>
             </div><div class="row">
            <div class="col-md-1"></div>
            <div class="morph pic">
                <img class="img-responsive" src="{% static 'img/developer/5.JPG' %}">
          
            </div><div class="col-md-1"></div>
            <div class="morph pic">
                <img class="img-responsive" src="{% static 'img/developer/6.JPG' %}">
             
            </div><div class="col-md-1"></div>
            <div class="morph pic">
                <img class="img-responsive" src="{% static 'img/developer/7.jpg' %}">
              
            </div>
        </div>
     <div class="row"><div class="col-md-1"></div><div class="col-md-3"><p class="text-success">&nbsp;&nbsp;&nbsp;&nbsp;Sudheer Macherla<br></p>sudhirmacherla1993@gmail.com</div>
              <div class="col-md-2"><p class="text-success" align="center">&nbsp;&nbsp;&nbsp;&nbsp;Sukanya Marati<br></p>&nbsp;&nbsp;&nbsp;&nbsp;maratisukanya@gmail.com</div><div class="col-md-1"></div>
             <div class="col-md-2"><p class="text-success">&nbsp;&nbsp;&nbsp;&nbsp;Janaki Velluri<br></p>&nbsp;&nbsp;&nbsp;&nbsp;janaki2594@gmail.com</div><div class="col-md-1"></div>
</div></div>
{% endblock content %}
