{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container" style="padding-top:15%; padding-bottom:10%; padding-left:10%">
<div class="col-md-10 well" align="center">
    <h3>Welcome {{user.username}}</h3>
    <table class="table-responsive">
  
{% if messages %}
{% for message in messages %}
{% if message.tags == "success" %}
<p class="text-info" align="center"><strong>{{ message }}</strong></p>
{% else %}
<p class="text-danger" align="center"><strong>{{ message }}</strong></p>
{% endif %}
{% endfor %}
{% endif %}

<form role="form" id="tftexinput5" method="post" action="/user/password/change/"
    enctype="multipart/form-data" >
{% csrf_token %}
<b>Old Password</b>:<br><br> <input type="password" name="old_pwd" class="tftextinput5" placeholder="Enter Old Password"> <br><br>
<b>New Password</b>: <br><br> <input type="password" name="new_pwd" class="tftextinput5" placeholder="Enter New Password"> <br><br>
<b>New Password (again)</b>: <br><br> <input type="password" name="new_again_pwd" class="tftextinput5" placeholder="Enter New Password again"> <br><br><br>

<div align="center">
<input class="btn btn-primary" type="submit" name="submit" value="Save changes" />
</div>
</form>
</table>
</div>
</div>
{% endblock content %}
