{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container" style= "padding-top: 5%; padding-bottom:5%">
   		 <div class="row">
      				<div class="col-md-12" style= " background-color:#d5dce1; margin-top:8%">
				<h4> class {{class_num}}-{{sub}}-{{topics}}</h4></div></div>
				<div class="row">
				<div class="col-md-12" style=" margin-left:10px;">
				<b>Summary</b>-{{subject.summary|safe|linebreaks}}
                                
                                     {% if subject.pdf %}
				   
				    <a href="/media/{{subject.pdf}}"><i class="fa fa-file-pdf-o fa-2x"></i></a>
			            {% else %}
				    {% endif %}	
				    {% if subject.video %}
					<a href="/media/{{subject.video}}"><i class="fa fa-file-video-o fa-2x"></i></a>
					{% else %}
				    {% endif %}	
				    {% if subject.animation %}
					<a href="/media/{{subject.animation}}"><i class="fa fa-file-image-o fa-2x"></i></a>
					
				    {% else %}
				    {% endif %}	
				</div>
				
                            </div>
    			</div>
 
{% endblock content %}
